SERVER_URL= #only needed if you have a hostname on server-side. If debugging on localhost, just remove this line
BASIC_AUTH_USER=your_username # you can remove this line if you do not want Basic HTTP Authentication.
BASIC_AUTH_PASSWORD_HASH=your_password_hash # use npm run hash -- <password> to generate a hash  #you can remove this line if you do not want Basic HTTP Authentication.
LLM_BASE_URL= # url to the ollama instance